<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
 
</head>
<body>
    <header class="site-header">
        <div class="wrapper site-header_wrapper">
            <a href="#" class="title">今日、ひま？</a>
            <nav class="nav">
              
                 <ul class="nav_wrapper">
                    <div class="icon_container">
                        <a href="../list/list.html" target="blank" class="nav_item">
                            <img src="../../static/people.png"  alt="友達リスト"/>
                        </a>
                        <p　id="list_link">友達リスト</p>
                    </div>

                    <div class="icon_container">
                        <a href="../mypage/mypage.html" target="blank" class="nav_item">
                            <img src="../../static/user.png"　alt="プロフィール"/>
                        </a>
                        <p id="profile_link">マイプロフィール</p>
                    </div>
                </ul>
                <!--
                <form action="サ" method="get">
                    <input type="search" name="search" placeholder="キーワードを入力">
                    <input type="submit" name="submit" value="検索">
                </form>-->
            </nav>
        </div>
    </header>
    <main>
        <div class="whole_container">
           <div class="left_container">
             <div class="group">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      選択してください
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item" href="#">グループ1</a></li>
                      <li><a class="dropdown-item" href="#">グループ2</a></li>
                      <li><a class="dropdown-item" href="#">グループ3</a></li>
                    </ul>
                </div>
                  
                <div class="group_member">
                    <a href="">メンバー1</a>
                    <a href="">メンバー2</a>
                    <a href="">メンバー3</a>
                    <a href="">メンバ-4</a>
                    <a href="">メンバー5</a>
                </div><br>
                <div class="selected_date">日付を指定</div>
                    <input type="date" name="selected_date">
             </div><br>
             <div class="table">
             <table class="table table-bordered border-info">
                <thead>
                  <tr>
                    <th scope="col" style="width: 16%">メンバー</th>
                    <th scope="col" style="width: 21%">0-6</th>
                    <th scope="col" style="width: 21%">6-12</th>
                    <th scope="col" style="width: 21%">12-18</th>
                    <th scope="col" style="width: 21%">18-24</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td class="table-secondary"> </td>
                    <td> </td>
                    <td> </td>
                    <td class="table-secondary"> </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td> </td>
                    <td class="table-secondary"> </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td class="table-secondary"> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
            <div class="right_container">
             <div class="schedule">
                <div class="add_schedule">
                
                <div class="memo m-3">予定</div>
                <button type="button" class="btn btn-outline-primary m-2">予定の追加</button>
                <button type="button" class="btn btn-outline-secondary m-2">予定の削除</button></div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">日時</span>
                        <input type="text" class="form-control me-3" placeholder='"O月X日△時"' aria-label="date" aria-describedby="basic-addon1">
                      </div>
                      
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">場所</span>
                        <input type="text" class="form-control me-3" placeholder='"渋谷"' aria-label="place" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">イベント</span>
                        <input type="text" class="form-control me-3" placeholder='"カラオケ"' aria-label="event" aria-describedby="basic-addon1">
                      </div>
 
                      <li>参加：</li>

                    <button type="button" class="btn btn-info m-3">O</button>
                    <button type="button" class="btn btn-danger">X</button>

                    
                
                <div class="paticipants m-3">参加者リスト</div>
                <!-- 全体 -->
                <div>
                  <ul class="nav nav-tabs m-3" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">O</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">X</a>
                    </li>
                    
                  </ul>
                  <div class="tab-content m-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <ul>
                          <li>メンバー1</li>
                          <li>メンバー2</li>
                          <li>メンバー3</li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <ul>
                        <li>メンバー4</li>
                        <li>メンバー5</li>
                        <li>メンバー6</li>
                    </ul>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>