[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
app = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bootstrap = "*"
pytz = "*"
brew = "*"
datetime = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "2.7"
