

.column {
    height: 100vh;
    width: 100%;
    text-align:center;
}
.group {
    background-color: rgb(249, 255, 166);
    background-size: cover;
}
.friends {
    background-color: rgb(184, 245, 184);
    background-size: cover;
}

@media all and (min-width: 500px) {
    .wrapper {
      display: flex;
    }
}

/* ナビゲーションCSS終わり */
.btn_container {
  max-width: 400px;
  margin: 20px auto;
  border: dotted 10px orange;
  background-color: rgba(255, 240, 153, 0.5);
  padding: 10px 25px;
}

.register_friend {
  text-align: right;
}
.register_friend > img{
  cursor: pointer;
  text-align: right;
}
.page_title {
  position: relative;
  background: #4eb3f7;
  box-shadow: 0px 0px 0px 5px #4eb3f7;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
  width: 250px;
}
.friends_icon {
  width: 50px;
  height: 50px;
}
.friend_list {
  margin-bottom: 15px;
  padding: 10px 0px;
}
.group_list {
  padding-left: 40px;
}
.group_list:first-child {
  padding-top: 10px;
}
.group_list:last-child {
  padding-bottom: 20px;
}
#group_tab {
  background-color: #e9f7fc;
}
#friend_tab {
  background-color: #e9f7fc;
}
a.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle {
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
}
.modal{
  display: none;
  background: rgba(0,0,0,0.5);
  /* モーダルウィンドウの位置固定 */
  position: relative;
  /* 背景色を画面いっぱいにする */
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;  
  margin: 0px;
}

.modal_content{
  background: #fff;
  height: 500px;
  /* width: 500px; */
  width: 400px;
  /* モーダルウィンドウを画面真ん中に表示 */
  margin: 100px 500px;
  position: fixed;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}
.whole_container {
  position: relative;
}


.sentence {
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 2;
}


.avatar {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.changeBtn {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.friend_list_container {
  position: absolute;
  height: 70%;
  width: 60%;
  margin: 110px 70px;
  background-color: #4eb3f7;
  z-index: 1;
}
.my-checkbox {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 28px;
  cursor: pointer;
  user-select: none; /* テキストの選択を防ぐ */
}

/* inputは非表示にする */
.my-checkbox input {
  display: none;
}

/* □ */
.checkmark {
  position: absolute;
  top: 0; /* 上からの位置 */
  left: 0;
  height: 22px; /* 大きさ */
  width: 22px; /* 大きさ */
  border: solid 2px #d4dae2; /* 線 */
  border-radius: 4px;
  box-sizing: border-box;
}
/* ✓ */
.checkmark:after {
  content: "";
  position: absolute;
  left: 5px; /* チェックの位置 */
  top: 1px; /* チェックの位置 */
  width: 6px; /* チェックの大きさ */
  height: 10px; /* チェックの大きさ */
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0; /* 透明にしておく */
}

/* チェックが入ったときの□ */
.my-checkbox input:checked + .checkmark {
  background: orange; /* チェック時の色 */
  border-color: orange; /* チェック時の色 */
}

/* チェックが入ったときの✓ */
.my-checkbox input:checked + .checkmark:after {
  opacity: 1;
}
.friend_modal {
  display: none;
  background: rgba(0,0,0,0.5);
  /* モーダルウィンドウの位置固定 */
  position: absolute;
  /* 背景色を画面いっぱいにする */
  top: -130px;
  left: 0px;
  height: 100vh;
  width: 100%;  
  margin: 0px;
}
.fried_modal_content {
  background: #fff;
  height: 300px;
  /* width: 500px; */
  width: 400px;
  /* モーダルウィンドウを画面真ん中に表示 */
  margin: 100px 500px;
  position: fixed;
  
}
#search_friend {
  position: absolute;
  bottom: 0px;
  right: 160px;
  cursor: pointer;
}