<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>MyPage</title>
</head>
<body>
    <header class="site-header">
        <div class="wrapper site-header_wrapper">
            <a href="#" class="title">今日、ひま？</a>
            <nav class="nav">
                <button class="nav_toggle" aria-expanded="false" type="button">
                menu
                </button>
                <ul class="nav_wrapper">
                    <li class="nav_item"><a href="#">友達/グループ</a></li>
                    <li class="nav_item"><a href="../home/home.html">Home</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="picture">
                <img src="../../static/people.png" alt="アイコン画像" width="200px" height="200px" title="">
                <form><input type="button" id="openBtn" value="画像編集"></form>
            </div>
        　　　　
            <div id="modal" class="modal">
                <div class="modal_content">
                    <input type="button" class="closeBtn" id="closeBtn" value="X">
                    <h3 class="sentence">fileを選択してアイコン画像の変更をしてください。</h3>
                    <div class="change_avatar">
                        <input type="file" name="avatar" class="avatar">
                        <input type="button" class=" changeBtn" id="closeBtn" value="変更">
                    </div>
                </div>
            </div>

            <script src="modal.js"></script>
            
            <div class="user_info">
                <div>
                    <ul>
                        <li>
                            <p>ユーザー名：</p>
                            <input type="text">
                        </li>
                        <li>
                        <p>メールアドレス：</p>
                        <input type="text">
                        </li>
                        <li>
                        <p>パスワード：</p>
                        <input type="text">
                        </li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-dark">ログアウト</button>
                </div>
            </div>
        </div>
    </main>

</body>
</html>