@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

li {
    list-style:none;
}
.body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.title{
    
    font-weight: bold;
    font-size: 70px;
    text-decoration: none;
    padding-left: 20px;
    color: rgb(166, 255, 255);
}

.site-header{
    
    border-bottom: solid 5px darkblue;  
    background-color: #e9f7fc; 
    width: 100%;
    
}
.icon_container {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-right: 20px;
}
.nav_wrapper{
    display: flex;
    margin-right: 0px;
    margin-bottom: 0;
    margin-top: 10px;
}
.site-header_wrapper{
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 600px) {
      .site-header_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0; } 
}

@media (min-width: 600px) {
    .nav__wrapper {
      display: flex; } }
  
@media (max-width: 599px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #d9f0f7;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }


.nav_item  {
    display: block;
    padding: 0;
    cursor: pointer;
    margin-bottom: 10px;
}
.nav_item > img {
    width: 40px;
    height: 40px;
}
.nav_item:hover {
    opacity: 50%;
}

.nav_item > #profile_img {
    padding-right: 0px;
    width: 40px;
    height: 40px;
}

.nav_toggle {
    display: none; }
    @media (max-width: 599px) {
      .nav_toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; } 
    }

.success {
    background-color: yellowgreen;
    color: white;
}
.failed {
    background-color: deeppink;
    color: white;
}
#profile_link {
    margin-top: 0px;
}