<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>
<body>
    <div class="body">
        <header>
            <h1 class="title">今日、ひま？</h1>

        </header>
        <main>
            <div class="container">
                <div class="wrapper">
                    <form class="form">
                        <input id="text" type="text" placeholder="Username">
                        <input id="password" type="password" placeholder="Password">
                        <input id="password" type="password" placeholder="Confirm Password">
                        <input id="mailaddress" type="password" placeholder="Mail address">
                        <button id="submit" type="submit" id="register_button">Register</button>
                    </form>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>