<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/register_css/style.css">
    <title>Register</title>
</head>
<body>
    <div class="body">
        <header>
            <h1 class="title">今日、ひま？</h1>
        </header>
        <main>
            <div class="container">
                <div class="wrapper">
                    <form action="/register" method="POST" class="form">
                        <input name="username" id="text" type="text" placeholder="Username" required="required">
                        <input name="password" id="password" type="password" placeholder="Password" required="required">
                        <input name="confirm_password" id="password" type="password" placeholder="Confirm Password" required="required">
                        <input name="mail_address" id="mailaddress" type="password" placeholder="Mail address" required="required">
                        <button id="submit" type="submit" id="register_button">Register</button>
                        <a href="{{url_for("createLoginPage")}}" class="login_page">ログイン画面に戻る</a>
                    </form>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>