{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block css_link %}<link rel="stylesheet" href="../static/search_friend_css/style.css">{% endblock %}
{% block content %}
<main>
    <div class="whole_container">
        <div class="modal_content">
            <h3 class="sentence">友達のメールアドレスを入力して検索してください。</h3>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
             <form action="/search_friend" method="POST">
                <input type="text" name="friend_mail" placeholder="友達のメールアドレス" class="avatar" required="required">
                    <input type="image" src="../static/icon_156880_32.png" alt="" id="search_friend">
             </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}