<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>member&group list</title>
 
</head>

<div class="wrapper">
    <div class="column group">
      <div class="info">
        <h2>グループリスト</h2>
        <ul>
            <li>グループ１</li>
            <li>グループ２</li>
            <li>グループ３</li>
        </ul>
        <a href="#"></a>
      </div>
    </div>
    <div class="column friends">
      <div class="info">
        <h2>友達リスト</h2>
        <ul>
            <li>友達１</li>
            <li>友達２</li>
            <li>友達３</li>
        </ul>
        <a href="#"></a>
      </div>
    </div>
  </div>
<!--
<body>
<div id="parent">
    <div id="child1">グループ</div>
    <ul>
        <li>グループ１</li>
        <li>グループ２</li>
        <li>グループ３</li>
    </ul>


    <div id="child2">友達</div>
    <ul>
        <li>友達１</li>
        <li>友達２</li>
        <li>友達３</li>
    </ul>
</div>
</body>
-->