<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>member&group list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <header class="site-header">
    <div class="wrapper site-header_wrapper">
        <div href="#" class="title">今日、ひま？</div>
        <nav>
             <ul class="nav_wrapper">
                <div class="icon_container">
                    <a href="../home/home.html" target="blank" class="nav_item">
                        <img src="../../static/home.png"  alt="友達リスト"/>
                    </a>
                    <p　id="list_link">ホーム</p>
                </div>
                <div class="icon_container">
                    <a href="../mypage/mypage.html" target="blank" class="nav_item">
                        <img src="../../static/user.png"　alt="プロフィール" id="profile_img">
                    </a>
                    <p id="profile_link">マイプロフィール</p>
                </div>
            </ul>
        </nav>
    </div>
</header>
<main>
 <!-- タブ -->
 <div class="btn_container">
  <div class="page_title m-3">グループ・友達リスト表示</div>
  <div>
  <ul class="nav nav-tabs center">
    <li class="active">
      <a href="#group_tab" data-target="#group_tab" data-toggle="tab">
        <button class="btn btn-primary"　id="group_button">グループ</button>
      </a>
    </li>
    <li>
      <a href="#friend_tab" data-target="#friend_tab" data-toggle="tab">
        <button class="btn btn-primary">友達</button>
      </a>
    </li>
  </ul>
</div>

<!-- 各タブのなかみ -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active fade in" id="group_tab">
　　　<li class="group_list">グループ　人数</li>
　　　<li class="group_list">グループ　人数</li>
　　　<li class="group_list">グループ　人数</li>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="friend_tab">
    <ul>
      <li class="friend_list">友達 <img src="../../static/user.png" alt="アイコン" class="friends_icon"></li>
      <li class="friend_list">友達 <img src="../../static/user.png" alt="アイコン" class="friends_icon"></li>
      <li class="friend_list">友達 <img src="../../static/user.png" alt="アイコン" class="friends_icon"></li>
    </ul>

  </div>
</div>
</div>

<!-- jQuery -->
<script>
$(function() {
  // ボタンクリックでタブを切り替え
  $('#change-to-access-tab').click(function(e) {
    $('.nav-tabs a[href="#access"]').tab('show');
  });    
});
</script>
</main>

</body>
</html>
